.container-fluid {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  font-size: 6vw;
  color: #c93d3d;
  padding: 4vw;
  border-bottom: 1px solid #e5e2e2;
}

.title i {
  color: #a8a8a8;
}

.sector {
  text-align: center;
  font-size: 4vw;
  letter-spacing: -1px;
  background: #f1f1f1;
  padding: 3vw;
  border-bottom: 1px solid #e5e2e2;
}

.sector2 {
  background: #f1f1f1;
  border-bottom: 1px solid #e5e2e2;
  border-top: 1px solid #e5e2e2;
  text-align: right;
  font-size: 4vw;
  letter-spacing: -1px;
  color: #999999;
  padding-top:1vw;
  padding-bottom:1vw;
}


.sector-name {
  width: 35vw;
  letter-spacing: 0px;
  font-weight: 600;
  top: 2vw;
  font-size: 3vw;
  position: absolute;
  margin-left: 30vw;
  background: #f3f8f3;
  padding: 2vw;

  border: 1px solid #e5e2e2;
  border-radius: 20vw;
}

.dates {
  display: flex;
  /* border-bottom: 1px solid #a8a8a8; */
  padding-bottom: 8vw;
}

.dates .left, .right {
  width: 50%;
  text-align: center;
  letter-spacing: -1px;
}

.item .type {
  font-size: 4vw;
  color: #a8a8a8;
}

.item .year-month {
  letter-spacing: -1px;
  font-size: 6.5vw;
}

.item .date {
  margin-top:-2vw;
  font-size: 10vw;
  font-weight: bold;
  letter-spacing: 1vw;
}

.item .day {
  font-size: 4vw;
  padding-bottom:1vw;
  color: #a8a8a8;
}

.item .time {
  font-size: 4vw;
  color: #a8a8a8;
}

.arrow {
  position: absolute;
  margin-top: 14vw;
  font-size: 4vw;
  padding: 0.5vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  border : 1px solid #e5e2e2;
  left: 46vw;
  border-radius: 20vw;
  background: #f3f8f3;
  color: #a8a8a8;
}

.room-info {
  padding: 4vw;
  font-size: 4vw;
  letter-spacing: -1px;
  border-top: 1px solid #e5e2e2;
}

.room-info .header {
  font-weight: bold;
  padding-bottom: 3vw;
}

.room-info .item {
  font-weight: 600;
  padding-bottom: 2vw;
}

.room-info .item .item-name {
  color: #a8a8a8;
}

.room-info .item .item-content {
  color : #333;
}

.purchase-info {
  padding: 4vw;
  font-size: 4vw;
  letter-spacing: -1px;
  border-top: 1px solid #e5e2e2;
}

.purchase-info .header {
  font-weight: bold;
  padding-bottom: 3vw;
}

.purchase-info .item {
  font-weight: 600;
  padding-bottom: 2vw;
}

.purchase-info .item .item-name {
  color: #a8a8a8;
}

.purchase-info .item .item-content {
  color: #a8a8a8;
  letter-spacing: 0px;
}

.button {
  color: #e6e6e6;
  background: #424242;
  letter-spacing: -1px;
  padding-left: 2vw;
  padding-right: 2vw;
}

.howmany {
  padding-left: 2vw;
  padding-right: 2vw;
}

.minus-button, .plus-button {
  width: 10vw;
  padding-top: 3vw;
  padding-left: 4vw;
  font-size: 2vw;
  background: #424242;
}

.howmany {
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 4vw;
  padding-right: 4vw;
  /* font-size: 0.5vw; */
}

.total-info {
  padding: 4vw;
  font-size: 4.5vw;
  font-weight: bold;
  border-top: 1px solid #e5e2e2;
  border-bottom: 1px solid #e5e2e2;
}

.total-info .total-price {
  float: right;
  color: #d04976;
}

/* The container */
.radio-container {
    display: block;
    position: relative;
    padding-left: 10vw;
    padding-bottom: 2vw;
    padding-top: 3vw;
    cursor: pointer;
    font-size: 4vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 5vw;
    left: 3vw;
    height: 5vw;
    width: 5vw;
    /* background-color: #eee; */
    border:2px solid #e5e2e2;
    border-radius: 50%;
}

.checkmark2 {
    position: absolute;
    top: 5vw;
    left: 3vw;
    height: 5vw;
    width: 5vw;
    /* background-color: #eee; */
    border:2px solid #e5e2e2;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
    background-color: #ffffff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark2:after {
    content: "\2713";
    position: absolute;
    display: none;
    top: -.5vw;
    left: 0.5vw;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
    display: block;
}

input:checked ~ .checkmark2:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 1.2vw;
	left: 1.2vw;
	width: 2vw;
	height: 2vw;
	border-radius: 100%;
	background: #d04976;
}

.checkmark2:after {
 	/* top: 1.2vw;
	left: 1.2vw;
	width: 2vw;
	height: 2vw;
	border-radius: 100%;
	background: #d04976; */
}

.purchase-method {
  padding-top: 5vw;
  padding-bottom: 3vw;
  border-bottom: 1px solid #e5e2e2;
}

.purchase-label {
  display: flex;
  padding-left: 1vw;
}

.purchase-label i {
  font-size: 6vw;
  padding-top: 1.5vw;
  width: 8vw;
  text-align: center;
}

.purchase-label .purchase-label-text{
  font-size: 3vw;
  font-weight: bold;
  padding-left: 3vw;
  color: #a8a8a8;
}

.purchase-label .purchase-label-text .top {
  display: inline;
}

.purchase-label .purchase-label-text .bottom {
  display: block;
  font-size: 2.8vw;
}
.cancel-conditions {
  padding: 4vw;
  padding-top: 7vw;
  border-bottom: 1px solid #e5e2e2;
}

.cancel-conditions .header {
  font-size: 3vw;
  font-weight: bold;
  color: #a8a8a8;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.cancel-conditions .body ul {
  padding-left: 0vw;
  font-size: 3vw;
  color: #333;
  list-style: none;
}

.cancel-conditions .body ul li{
  padding-bottom: 1vw;
}

.bullet {
  padding-right: 1vw;
}
.bullet:before {
  content: ' \25CF';
  font-size: 3vw;
  color: #333;
}

.purchase-btn {
  padding: 4vw;
  background: #e5e2e2;
  color: #d04976;
  font-weight: bold;
  font-size: 6vw;
  text-align: center;
}
