
.area-select div:nth-child(even){
  padding-left: 0px;
}

.area-select div:nth-child(odd){
  padding-right: 0px;
}

.area-select div {

}

.logo > div {

}

.ad-event > div {
  padding: 6vw;
}

.ad-event .left-box{
  padding-left: 10vw;
  padding-right: 8vw;
}

.ad-event .right-box {
  padding-left: 8vw;
  padding-right: 10vw;
}

.ad-event .box-item {
  border: 1px solid #d5d4d4;
  border-radius : 0px;
  height: 20vw;
}

.ad-event .box-item .item-left{
  padding: 0;
  text-align: center;
  line-height: 22vw;
}

.ad-event .box-item .item-left i {
  font-size: 7vw;
  color: green;
}

.ad-event .box-item .item-right{
  padding: 0;
  padding-top: 3.5vw;
}

.ad-event .box-item .item-right p {
  font-size: 2.5vw;
  color: #000000;
  margin-bottom: 0;
  padding-bottom: 1vw;
}

.ad-event .box-item .item-right a {
  font-size: 2vw;
  color: #989797;
  margin-bottom: 0;
}


.recent-hotel .item {
  border:1px solid #cfcaca;
}

.recent-hotel .item p {
  margin-bottom: 0;
}


.recent-hotel .item .caption  .caption-text {
  padding-left: 1vw;
}

.recent-hotel .item .caption  .caption-text  p {
  margin-bottom: 0;
  font-size: 2.5vw;
}

.hotel-list {
   margin: 0;
}
.hotel-list > div {
  padding: 0;
}

.hotel-list .panel {
  font-size: 2vw;
  letter-spacing: -1px;
  line-height: 4.5vw;
  color: #585857;
}

.hotel-list .panel .panel-body{
  padding: 1vw 3vw;
}

.hotel-list .panel .panel-body p strong{
  font-size: 3.5vw;
}

.hotel-list .panel .panel-footer .btn{
  font-size: 3vw;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 0;
}
