.function-select div:nth-child(even){
  /* padding-left: 0px; */
}

.function-select div:nth-child(odd){
  /* padding-right: 0px; */
}

.function-select .dropdown-menu {
  background: #272727;
}

.function-select .dropdown-menu li a{
  font-size: 3vw;
  color: #dcdcdc;
  letter-spacing: -1px;
}

.function-select .item {
  background : #272727;
  height: 14vw;
  padding: 5vw;
  line-height: 5vw;
}

.function-select .item div span {
  font-size: 3vw;
  color: #dcdcdc;
  letter-spacing: -1px;
}

.function-select .item div i {
  font-size: 3vw;
  float: right;
  color: #dcdcdc;
  padding-top: 1vw;
}

.zoom {
  text-align: center;
}

.logo div {
  padding: 0;
}

.available-room div {
  padding-top: 4vw;
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  height: 14vw;
  background: #6f6059;
  color: #ffffff;
}
.picture-list {
  /* padding-left: 15px;
  padding-right: 15px; */
}
.picture-list div {
  padding: 0.8vw 0vw;
}

.hotel-description  {
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
}

.hotel-description-label {
  border-left: 2px solid #6f6059;
  background: #ededed;
  font-weight: 600;
  line-height: 12vw;
  color: #6f6059;
  font-size: 3.5vw;
  letter-spacing: -1px;
}

.hotel-description-content p {
  padding-left: 3vw;
  padding-top: 2vw;
  color: #6f6059;
  font-size: 3.5vw;
  letter-spacing: -1px;
}

.hotel-description-content .row {
  color: #6f6059;
  font-size: 3.5vw;
  /* letter-spacing: -1px; */
  font-weight: 600;
  padding:2vw;
}

.hotel-description-content .row div:nth-child(1) {
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1vw;
}

.hotel-description-content .row div:nth-child(2) {
  padding-right:0;
  color: #868686;
}

.offer-pic {
  padding:0;
}

.offer-pic .caption .caption-text {
  padding-left: 2vw;
}

.offer-pic .caption .caption-text p:nth-child(1) {
  font-size: 1vw;
  color: grey;
}

.offer-pic .caption .caption-text p:nth-child(2) {
  font-size: 3vw;
  font-weight: bold;
  color: #000000;
}

.offer-pic .caption .caption-text p:nth-child(3) {
  font-size: 1vw;
  color: grey;
}
