.purchase-complete {
  padding: 10vw;
  padding-top: 8vw;
}

.purchase-complete .header {
  text-align: center;
  padding-bottom: 5vw;
}

.purchase-complete .header span {
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 4.5vw;
}

.purchase-complete .body {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom:10vw;
}

.purchase-complete .body p {
  text-align: center;
  font-size: 3vw;
}

.purchase-complete .footer span {
  width: 100%;
  text-align: center;
  font-size: 3.5vw;
  font-weight: bold;
  margin-bottom: 1.5vw;
  letter-spacing: -.7px;
  padding: 1.5vw;
  display: block;
}
